button {
  border: none;
  background-color: #00ADB7;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #A8D7D8;
}

.equals {
  grid-column: 3 / 5;
  background-color: #E76D2E;
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}
